/*body{
background-color: red;
}*/
#app {
display: flex;
background-color: ;
}
/*customer 1*/
#image {
display:;
justify-content: ; }
#description {  }
#note{  }
#task{ }
#tags {  }
/*customer 2*/
#image2{
}
#description2{  }
#task1{  }
#task2{  }
/*customer 3*/
#image3{

}
#description3{  }
#tags3{  }